[2016-12-08 19:21] gerarde commented on #205
Turns out the issue may have been related to our custom IAuthenticationProvider and the fact that it was appending an Authorization header (with Bearer token) to SPO's `_layouts/15/download.aspx` endpoint which authenticates with a guestaccesstoken.

[2016-12-09 08:07] frankguns opened #206 "Microsoft.Graph.ServiceException when trying to download files using the API"
The following code

`var stream=await this.oneDriveClient.Drive.Items[itemid].Content.Request().GetAsync();`

is throwing the exception Microsoft.Graph.ServiceException.
The details of the exception is showing an ItemNotFound error code.

When checking the request by Fiddler, it seems the reponse of this call is a web page with the message: "Sorry something went wrong. Sorry you cannot access this

[2016-12-09 13:15] frankguns commented on #205
Hi Gerarde,

Can you give some more details about how you solved this issue as I am facing exactly the same problem?

Thanks

[2016-12-09 19:49] E3Solutions commented on #205
We are having the same issue. Do you have some example code of what you did to get it working?

Thanks

[2016-12-09 20:09] gerarde commented on #205
What seems to be working for us providing an `HttpProvider` which specifies `AllowAutoRedirect=true` when initializing the `OneDriveClient`:

Our testing suggests it works with our particular uses of the library, but I'm not certain whether this causes any side effects.

[2016-12-09 20:26] E3Solutions commented on #205
Works! Thank you, much appreciated!

[2016-12-09 20:33] burnsy88 commented on #205
Worked for us too!!  Here is the code we used:
[code]

[2016-12-09 20:55] gerarde commented on #205
Reopening this since it looks like it's not just us -- it looks like the library (or the upstream Microsoft.Graph libs) is incompatible with a recent deployment of SPO.

Troubleshooting advice:
* Running the traffic through Fiddler (set proxy via `HttpClientHandler` `Proxy`/`UseProxy`) and toggling `AllowAutoRedirect` on/off demonstrates the incorrect flow of traffic.

Question for all: Does anyon

[2016-12-09 21:03] burnsy88 commented on #205
Here's a link to the release notes for the OneDrive rollout they did on 12/7.

[https://support.office.com/en-us/article/New-OneDrive-sync-client-release-notes-845dcf18-f921-435e-bf28-4e24b95e5fc0?ui=en-US&rs=en-US&ad=US]

[2016-12-10 04:29] wethinjp commented on #205
The notes for Graph changes are available here: https://graph.microsoft.io/en-us/changelog#

[2016-12-11 02:59] nlebeck commented on #204
To add some more information: I thought the problem just had to do with the UWP implementation of Streams, so I wrote a WPF version of my app. Using a `MemoryStream` in the WPF version resulted in the same timeout exception as in the UWP version, and using a `Windows.Forms.OpenFileDialog` to obtain a stream of an existing file resulted in that timeout exception as well. Also, just to clarify, the

[2016-12-12 08:04] prakashguru commented on #205
My application is using 1.x sdk series and it is affected. I am not sure whether 2.x sdk also has the issues.

[2016-12-12 14:00] tipa opened #207 "Add support for square thumbnails"
Currently, square thumbnails like "smallSquare" are not supported. Probably custom sized thumbnails could be somehow supported too...

Ref: https://dev.onedrive.com/items/thumbnails.htm#size-values
https://dev.onedrive.com/items/thumbnails.htm#custom-thumbnail-sizes

[2016-12-15 23:09] paya-cz opened #208 "Improve performance for upload/download of small files"
I have benchmarked the SDK by uploading/downloading a total of 64 MiB in various-sized files and these are the results:

    4 KiB chunks, total of 16 384 files, max concurrency 50
    Upload: 1 hour 5 min 49 sec (16.6 KiB/s)
    Download: 41 min 56 sec (26 KiB/s)

    16 KiB chunks, total of 4 096 files, max concurrency 50
    Upload: 15 min 50 sec (69 KiB/s)
    Download: 9 min 37 sec (114 KiB/s

[2016-12-23 21:01] adamsipos opened #209 ""This file was generated by a tool and any changes will be overwritten""
I understand it is possible to extend core functionality through the partial classes in the Extensions folders, however for some methods it'd be better to modify the core classes. For example, I'd like to add the Top variable to IItemRequestBuilder.Delta(). Could you please let me know how these classes are generated? Thanks!

[2016-12-29 19:10] giobiondani commented on #133
I installed the solution kindly provided by @jclarkswiftsoftware but I was getting an error with the SharedWithMe request: "invalid request - API not found".
In DriveRequestBuilder.cs, I replaced this:
`return new SharedWithMeCollectionRequestBuilder(this.AppendSegmentToRequestUrl("sharedWithMe"), this.Client); `
with this:
`return new SharedWithMeCollectionRequestBuilder(this.AppendSegmentToReque

[2017-01-16 10:33] prakashguru commented on #74
I think we can close this issue. There is an implementation available in the ItemContentRequest. GetAsync(CancellationToken, HttpCompletionOption), where we can pass the "HttpCompletionOption.ResponseHeadersRead" for large file downloads.

[2017-01-16 10:33] #74 closed

[2017-01-18 20:29] daboxu commented on #208
@paya-cz thanks for the benchmark info, it is very useful. Unfortunately we don't have any API support uploading batch of files at once. I agree with you the uploading right now is not efficient and it is due to the bottleneck at the API side so there is no improvement I can imagine on the client side. We are working on improving the API uploading performance and I will upgrade to it once the API

[2017-01-19 15:10] minimalisticMe opened #211 "SignOut not working"
Hi,

I'm using UWP `Microsoft.OneDriveSDK` 2.0.6 and `Microsoft.OneDriveSDK.Authentication` 1.0.8.

When I log into my profile with a scope via

[code]

everything works fine. I can access everything I need and I'm happy with it.

However, when I try to log out, with `await AuthProvider.SignOutOfBrowserAsync();`, I get the following appears:
![zwischenablage01](https://cloud.githubusercontent.com/

[2017-01-27 15:19] jaycdave88 opened #213 "Unable to view children of Shared Folder"
I was shared a folder which contains multiple csv files. When viewing through the browser, I am able to navigate to the folder and view all the files. While in code, I am unable too - I have created a SO page on the topic that has code snippets and my logic.

http://stackoverflow.com/questions/41884450/unable-to-view-child-elements-from-onedrive-c-sharp-sdk

[2017-01-27 19:05] #213 closed

[2017-01-27 19:10] jaycdave88 opened #214 "Enumerate the contents of a shared folder with C# SDK"
I came across this article - https://dev.onedrive.com/misc/working-with-links.htm#enumerate-the-contents-of-a-shared-folder and after reading this it seems like this is what I need to do in order to return a list a child elements on a Shared folder. However, I am trying to find an example of how to do this with the OneDrive C# SDK...

Currently my code lines are as follows:

` var remoteItemDriveI

[2017-01-27 20:46] daboxu commented on #214
@jaycdave88 hi, try
[code]
to get the children of the shared folder, it seems you passed the driveId to item which is not aligned with the doc saying:
[code]

[2017-01-27 21:59] daboxu commented on #211
hi @minimalisticMe I searched for a while and found probably it is due to Windows 10 use new auth story: https://msdn.microsoft.com/en-us/library/windows/apps/windows.security.authentication.onlineid.onlineidauthenticator. I would encourage you use the original MsaAuthenticator rather than the OnlineIdAuthenticator because it is outdated a little bit.

[2017-01-30 16:24] #214 closed

[2017-02-01 23:03] kevitra opened #215 "Possible to use AuthenticationContext"
Is it possible to use the Azure AD AuthenticationContext in some manner to create a OneDrive SDK object?

In our app we currently authorize with:
AuthenticationContext authContext = await authContext.AcquireTokenAsync(graphResourceId, clientId, redirectUri, new PlatformParameters(PromptBehavior.Never));

//need provider
var oneDriveClient = new OneDriveClient("https://api.onedrive.com/v1.0", <prov

[2017-02-02 22:01] jaycdave88 commented on #42
Is there a way to grant permissions to manage a custodian user's OneDrive through the SDK? I created a SO on the question as well which has more context.

http://stackoverflow.com/questions/42012975/access-files-for-custodian-account-from-admin-account-onedrive-sdk-csharp-is-th

[2017-02-03 17:52] tipa opened #216 "Specify the user to authenticate"
In my app I want my users to choose the OneDrive account to work with.

- Is there any way to show them a UI where they can select their account?
- Or is there a way for me to authenticate a specific account after the user entered his account details somewhere else in my app?

Currently, the account the user is signed in on the device is used without an option to change it. I already googled that

[2017-02-06 21:50] jaycdave88 opened #217 "OneDrive SDK support for Graph service or daemon?"
Question 1.
Does the OneDrive SDK use Microsoft Graph under the cover?

Question 2.
If so is it possible to bypass the OAuth authentication by using Microsoft Graph in a service? [Microsoft Docs](https://graph.microsoft.io/en-us/docs/authorization/app_only)?

[2017-02-09 05:03] rfrazier commented on #108
Will .NETStandard be officially supported in the future? Now that Xamarin is going that route and several other Microsoft properties....would be nice to fall in line.

[2017-02-12 12:24] MichaelStgt opened #218 "User Authentication"
This is really confusing regarding the authentication process. When I register my app as described in https://dev.onedrive.com/auth/readme.htm, wouldnt then my app will request MY OneDrive Storage?? I want to let my users save database files on THEIR OneDrive Account, not in my One? Or do I Get something wrong here?
The sample in the UWP Community Toolkit does not request any ID from me, and when

[2017-02-16 17:09] boyinghu commented on #10
@ginach , do you mean specifiy timeout via OneDriveClient? but i cannot find the relevant property or method. could you please provide more details?

[2017-02-21 10:50] 23W commented on #142
In [IOS SDK](https://github.com/OneDrive/onedrive-sdk-ios/issues/143) @rgregg recomended to use Microsoft Graph to do this. But how it to do I don't know.

[2017-02-21 19:22] krackinDev opened #219 "Onedrive SDK does not work with ADAL"
Microsoft has changed the ADAL approach and your ADAL Auth provider no longer works and is not exposed enough to overload or make our own wrapper/version without bringing all of your code. Any idea when the official one drive sdk will be updated so that it actually works with onedrive for business? it works fine in MSA login. Or at least allow us to overwrite authcontexts and not just a minor inte

[2017-02-22 00:51] gjohncock commented on #196
try pausing your virus protection.  I am using Kaspersky EndPoint 10 and when I pause the protection everything works fine.  I am still trying to work out what exception needs to be added to make this work with Kaspersky

[2017-02-22 20:01] daboxu commented on #219
@krackinDev thanks for the updates, I will look into the ADAL issue.

[2017-02-22 20:19] daboxu commented on #218
hi @MichaelStgt , based on your story, probably you want to create an application which works which our C# SDK will represents as your APP to let OneDrive User allow your app to access their OneDrive storage. Using OneDrive for Consumer account and C# Platform for example, you need to go to [App Registration Page](https://apps.dev.microsoft.com) to create an app and pass in your app's ID to MSAAut

[2017-02-22 21:00] daboxu commented on #217
hi @jaycdave88 , if you want to integrate with Microsoft Graph service, I would suggest you use the [Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-dotnet) as well.

[2017-02-23 01:05] daboxu commented on #216
hi @tipa , for selecting both OneDrive Consumer (aks personal) and OneDrive for Business account, I think the [MSAL library](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet) should work for you because it hits the AAD Oauth V2 endpoint which provides UI for user to choose their personal or business account. In addition, probably you want to user the [Graph SDK](https://githu

[2017-02-23 01:09] daboxu commented on #215
hi @kevitra , I think the [ADALAuthenticationProvider](https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/master/src/OneDrive.Sdk.Authentication.Desktop/Business/AdalAuthenticationProvider.cs#L65) under our MSAAuthProvider should work for you because it allows you pass in an AuthenticationContext object. Give it a shot and let me know if you have any problems.

[2017-02-23 01:10] #208 closed

[2017-02-23 01:10] #211 closed

[2017-02-23 01:43] daboxu commented on #209
hi @adamsipos , the file is generated by a tool and template we maintained internally so if you are requesting for missing properties on the item, feel free to open an issue for it. And for your delta case, I believe we have already support it. You can build a request like:

[code]

to get two items back. The interface is [here](https://github.com/OneDrive/onedrive-sdk-csharp/blob/38599a4988bb8a05

[2017-02-23 07:35] tipa commented on #216
Thanks @daboxu, thanks for your response! I don't want to necessarily allow Business accounts (maybe at a later point) but I want to allow the user to choose from his personal accounts (e.g. when he is logged in on his phone with a Business account). Currently I am using [the Authentication Adapter for the OneDrive SDK](https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter), very easy t

[2017-02-23 17:55] daboxu commented on #216
hi @tipa , probably you can apply a signout browser first because the login page stored user cookie and reuse it if a user has logined before, use desktop app as example:

[code]

**NOTE** In a word, MSAL and Graph SDK are the direction the MSA Auth Adapter and the OneDrive C# SDK are moving to. The MSA Auth Adapter is the adapter we built for providing authentication for personal and business acc

[2017-02-25 00:20] Aboisier commented on #191
Hey, just wanted to know if this have been implemented, or if it is still on your radar. I managed to retrieve an album by using its id, but can't find a way to retrieve the list of a user's albums ids.

Thank you!
Antoine

[2017-02-25 02:05] daboxu commented on #207
hi @tipa , current the smallSquare thumbnail does return if you specify select it explicitly and there are some efforts needed:

build you request like
[code]

this should also work if you want to select customized thumbnails, please let me know if it works.

[2017-02-25 02:07] daboxu commented on #206
@frankguns can you still repro it? I believe it should be fixed.

[2017-02-27 16:49] daboxu commented on #195
closed on github as we have it tracked on UserVoice: https://onedrive.uservoice.com/forums/262982-onedrive/suggestions/6540302-ios-8-storage-provider-extension-document-picker-s

[2017-02-27 16:49] #195 closed

[2017-02-28 15:15] #217 closed

[2017-03-01 11:02] tipa commented on #207
I have come to a different solution via url parameters: `?width=80&height=80&cropmode=center`

[2017-03-01 17:10] daboxu commented on #207
cool, good to know that.

[2017-03-01 17:10] #207 closed

[2017-03-01 17:31] daboxu commented on #218
close for now, feel free to reopen it if you have any questions.

[2017-03-01 17:31] #218 closed

[2017-03-01 17:32] daboxu commented on #216
close for now and feel free to reopen it if you still have this issue.

[2017-03-01 17:32] #216 closed

[2017-03-01 17:32] daboxu commented on #215
feel free to reopen it if you have any question.

[2017-03-01 17:32] #215 closed

[2017-03-01 17:33] #209 closed

[2017-03-02 22:46] tipa commented on #216
Thanks for your comprehensive answer. I will try out your suggestion with the removal of the browser cookies.
I also tried the Graph Library in combination with the prerelease auth MSAL library, more specifically I tried out [this example](https://github.com/microsoftgraph/uwp-csharp-connect-sample) but encountered a bunch of issues:

- the newtonsoft.json library wasnt included and I had to refer

[2017-03-02 22:53] daboxu commented on #216
thanks your feedbacks! Yes we do have a long way to go.
For 1) newtonsoft.json reference, feel free to report it on the [Graph C# SDK issues](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues).
2) auth token probably you want notice the owner of [MSAL here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues).
3) I think I have a backlog for the permission issue

[2017-03-07 06:54] Srusti-Thakkar opened #220 "How to work with Delta request for consumer Account in c#?"
I am trying to watch server side changes using delta request but i don't know how to use it. Is there any example regarding it in c#.NET?

[2017-03-08 04:28] #196 closed

[2017-03-08 04:49] gjohncock opened #221 "Cannot Accessing OneDrive with User Token (RefreshToken)"
I need to set up OneDrive to stay logged in so after much researching and testing I have arrived at the following code.  Everything works up to the point of accessing the OneDrive drive (code line that reads myDrv = Await odc.Drive.Request.GetAsync).  The Stack Trace shows that the token is assigned successfully however i get the following error...

`Exception thrown: 'Microsoft.Graph.ServiceExcep

[2017-03-08 05:54] roy-subhojeet opened #222 "[QUESTION] Hi, I am new to developing Apps, I am using the OneDriveApiBrowser just to know how the API works. Whenever I sign out and then sign in again it saves my session, it dosen't ask me to enter credentials again. How can I make multiple users Sign in Using the API. Is this.oneDriveClient = null; not working ?"

[2017-03-09 09:04] #222 closed

[2017-03-10 00:39] daboxu commented on #220
hi @Srusti-Thakkar try see this thread #209

[2017-03-10 04:53] Srusti-Thakkar commented on #209
@daboxu  Can you tell me How to work with Delta Request for Personal Account in c#? If you have any example then post it please.

[2017-03-10 16:33] daboxu commented on #209
@Srusti-Thakkar just in about comment:
[code]

[2017-03-10 20:37] kevitra opened #223 "Retaining file times"
With the application we are building it is essential that we retain a file's created time, last accessed time, and modified time after moving the file to OneDrive.

A month ago none of this worked (an error was thrown).  Now the files modified time can be set via the SDK but the Created date time is not set even though it is passed in. The file's last accessed time is missing from the FileSystemIn

[2017-03-14 18:06] abdulrehmangill opened #224 "Support for .netStandard"
Now that msgraph targets .netstandard, when can we expect onedrive-sdk for C# to start targeting .netstandard ?

[2017-03-21 23:45] daboxu commented on #220
close for now, feel free to reopen it if there are still questions

[2017-03-21 23:45] #220 closed

[2017-03-22 00:05] daboxu commented on #221
hi @gjohncock the adalAuthProvider is used for old pattern to get resourceId by [DiscoveryService](https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter#look-up-service-information-for-a-user-using-discovery-service) and then passing the refresh token and serviceResourceId in. For you as I saw you are using graph API, I would suggest you start with the new [Graph SDK stack](https://gith

[2017-03-22 00:09] daboxu commented on #223
hi @kevitra 'fileSystemInfo' definitely is the place you want to save these information, I would be surprised if it does not work for OneDrive for Consumer accounts. Unfortunately due to the limit on OneDrive for Business and SharePoint APIs, I am afraid there is no good way to work around. You can request this API feature on our [user voice page](https://onedrive.uservoice.com/forums/262982-onedr

[2017-03-22 00:13] daboxu commented on #224
hi @abdulrehmangill as our goal is to merge with Microsoft Graph SDK, you would better have a look at their [page](https://github.com/microsoftgraph/msgraph-sdk-dotnet). They have related PR for .netStandard support https://github.com/microsoftgraph/msgraph-sdk-dotnet/pull/84.

[2017-03-23 02:08] gjohncock commented on #221
great, thanks for the direction.  i will look into this...

[2017-04-19 13:38] syates21 commented on #195
The UserVoice link is not what was being asked for as near as I can tell.  He was asking for a URL scheme or some mechanism to launch and open specific content in the native OneDrive app.  This would be extremely useful, and it appears there is an ms-onedrive:// URL scheme.  I have not been able to find any documentation about what is supported with that though.  The closest UserVoice request I ca

[2017-04-26 10:50] Kyrodan commented on #183
Now I am using Graph-API which does not have this issue.

[2017-04-26 10:50] #183 closed

[2017-05-05 20:06] nsouren commented on #219
Any news on this issue?

[2017-05-05 20:15] krackinDev commented on #219
@nsouren  Yes i have resolved this now by using the Graph SDK [here  ](https://developer.microsoft.com/en-us/graph/code-samples-and-sdks), it is now enabled for both onedrive and onedrive for business, as far as i know they are going to replace all onedrive apis with this. It actually works quite well.

[2017-05-05 20:15] #219 closed

[2017-05-05 20:47] nsouren commented on #219
I am using the latest OneDrive C# SDK available on nuget, it is v2.0.6 and it does not work with ADAL authentication. Which version I should use and where  can get it from?
Thanks.

[2017-05-05 21:04] krackinDev commented on #219
You should change your SDK completely by using the [Graph SDK here ](https://developer.microsoft.com/en-us/graph/code-samples-and-sdks) there are plenty of samples on there. the only real difference is adding the reference to **me** in it , it really shouldnt take long to change. other than maybe the authentication.
eg
`_graphclient.Me.Drive.Items[item.ParentReference.Id].Request().GetAsync()`

[2017-05-06 15:11] nsouren commented on #219
@krackinDev could you please give me a hint how you are authenticating through ADAL?
I am using AdalAuthenticationProvider class from Microsoft.OneDrive.Sdk.Authentication library, and it does authenticate, but I am unable to use that provider with Graph SDK. I am getting "Access token validation failure." error.
Thanks in advance.

[2017-05-21 12:13] deRightDirection opened #225 "Exception: user authentication cancelled"
one my own developed uwp-apps shows this error everytime when it tries to sign in to onedrive. The same code for signing in and out for onedrive is used in another app of mine. In this app the proces works perfectly.

i substituted the app-id of the malfunctioning app with the app-id of the app which is working. no difference. So what is going wrong here? I am at the end of my options...

see atta

[2017-05-23 12:49] diego2265 opened #226 "How can use files from shared folders embedded in your OneDrive using OneDrive SDK c#?"
Seems that you can not download / upload files from shared folders embedded in your OneDrive using OneDrive SDK c #.

Steps to simulate the behavior:

1. User "A"  shares a Onedrive folder named "Shared01" with user "B" with "modify" permission;
2. User "B" incorporates "Shared01" into its own Onedrive: the folder "Shared01" appears in the root of "B";
3. Using the c# SDK (OneDriveApiBrowser.sln)

[2017-06-06 15:54] Nimeena opened #227 "Q: No manual sign in to one drive for business"
Hello, I am trying to integrate one drive for business to our web application. I red in many places that one drive always need manual sign in (browser sign in) to access the docs . Is it possible for my application to access the docs in google drive and let the user view/edit the docs without any manual sign in?

So something like application has a one drive for business account , that it can let

[2017-07-05 23:57] gandhiz opened #228 "File copy doesn't work when the destination path is in the same folder as the original file."
Hi,

The following code doesn't work when toParentFolderId is the same folder id as the original file:

var status = await client.ItemWithPath(fromPath).Copy(toFileName, new ItemReference {Id = toParentFolderId}).Request().PostAsync();
var item = await status.PollForOperationCompletionAsync(null, CancellationToken.None);

The error I get is:

Microsoft.Graph.ServiceException: Code: generalExceptio

[2017-07-17 15:37] poojaaloysius opened #229 "AcquireTokenAsync() gives expired time + microsoft.client.identity"
while calling AcquireTokenAsync() ,I get token and expires on time in response but  expires time get as past time...so everytime it asks for authentication of user.

[2017-07-25 15:12] IliqNikushev opened #230 "Big files, ChunkedUploadProvider goes in an infinite loop"
Hello,

I noticed a small issue while having to upload big files (with byte length > int.MaxValue (2GB))
Reason being `session.NextExpectedRanges` sometimes returned 0...(Size of the file)

[ChunkedUploadProvider#217](https://github.com/OneDrive/onedrive-sdk-csharp/blob/master/src/OneDriveSdk/Helpers/ChunkedUploadProvider.cs#L217)
The problem is that the method returns int, while doing operations

[2017-07-31 15:07] RickySan65 opened #233 "graph.core issue"
Hi there,

I have the latest sdk installed, graphcore has been updated to 1.5.x (for reason it insisted on that), the odd thing is that on some machines it still wants to see 1.3.1 instead of the 1.5.x dll.. i noticed the sdk package still depends on 1.3.  so not sure if this is a bug or not, but on my dev machines it works, if i move it to another machine, the graphcore error comes up

[2017-08-07 11:28] IlyaBezus commented on #233
Same here - not working, if I have OneDriveSDK along with Graph.Core 1.3.1+

[2017-08-14 19:26] E3Solutions opened #234 "Microsoft.Graph.ServiceException When uploading document to OneDrive SDK"
Getting this error after the recent 2.0.7 update:
Exception of type 'Microsoft.Graph.ServiceException' was thrown.

Code:
// Create the excel file
                moExcelFile.SaveXls(tempfile);
                // Convert temp file to stream object
                Stream stream = new System.IO.FileStream(tempfile, System.IO.FileMode.Open);

                string strOneDriveFileName = txtFileName.T

[2017-08-19 21:49] RickySan65 commented on #233
19 days since opening issue, not very responsive...

[2017-08-29 04:08] themasterchiefdev opened #235 "Examples for using @microsoft.graph.conflictBehavior in the sdk"
The [onedrive API documentation](https://dev.onedrive.com/items/upload_put.htm) specifies that @microsoft.graph.conflictBehavior can be used as the optional query string parameters but the examples listed under the docs does not specify its usage.

Can @microsoft.graph.conflictBehavior usage be included in the examples in the [docs](https://github.com/OneDrive/onedrive-sdk-csharp/blob/master/docs/

[2017-08-29 06:03] tvandijck opened #236 "ItemWithPath can't handle "invalid characters""
in the example [here](https://github.com/OneDrive/onedrive-sdk-csharp/blob/master/docs/items.md#2-by-path)
[code]

should be fixed to:
[code]

or, the ItemWithPath API itself should handle the right escaping.

Without the escaping I was getting exceptions on invalid characters:
[code]

I tried:
- HttpUtility.UrlEncode
- HttpUtility.UrlEncodeUnicode
- HttpUtility.UrlPathEncode
- Uri.EscapeDataStrin

[2017-09-01 13:53] IliqNikushev commented on #230
solved by https://github.com/OneDrive/onedrive-sdk-csharp/pull/232

[2017-09-01 13:53] #230 closed, assigned to nobody

[2017-09-22 07:54] martinlaukkanen commented on #135
Closing this as the latest package supporting HttpCompletionOption.ResponseHeadersRead resolves the issue.

[2017-09-22 07:54] #135 closed

[2017-10-10 22:24] themasterchiefdev opened #237 "The remote certificate is invalid according to the validation procedure error when using chunked upload"
Hi,
I'm trying to upload document using the chucked upload provider. The upload is done from behind a firewall and I get an error saying "The remote certificate is invalid according to the validation procedure"
Can you provide the list of URLs which need to be white listed on our firewall so that I can use the functionality please?
I have already got  https://api.onedrive.com/rup added to the whit

[2017-10-17 15:31] albel1205 commented on #234
I got the same issue when using the PutAsync method, but it works well if I manually create HTTP request.
Please advise

[2017-10-24 05:21] dmitrymal opened #238 "Is there a step by step guide for how to use the latest SDK in UWP Apps?"
I tried to follow one of your examples (e.g. https://github.com/OneDrive/graph-sample-photobrowser-uwp) but it is 8 months old and not working. Besides, it uses old libraries like Microsoft.Identity.Client  (1.0.304142221-alpha) and requires a ClientId (whereas other samples on the internet say that you don't need a ClientId for Store Apps). So, what is the recommended ('the right') way?

Most of

[2017-10-24 14:41] nitinphansalkar commented on #238
@dmitrymal : The following link is the updated Photobrowser Auth file. This works with current 1.1.0-preview version of Microsoft.Identity.Client

https://github.com/microsoftgraph/uwp-csharp-connect-sample/blob/master/Microsoft-Graph-UWP-Connect-SDK/AuthenticationHelper.cs

[2017-10-24 16:53] dmitrymal commented on #238
The comment from @nitinphansalkar does **not** answer any questions asked in the original post. It has nothing to do with OneDrive and only references the authentication helper which is still using a preview version with the following warning: _"During the preview we may make changes to the API, internal cache format, and other mechanisms of this library... This may impact your application... For

[2017-10-25 04:53] nitinphansalkar commented on #238
@dmitrymal I am also a REAL APP developer and using (in a very limited way) OneDriveClient in my UWP app that is live on Store. App uses OneDriveClientExtensions for auth however that is no more supported and this new mechanism of Graph Client is introduced for the Auth. So I am making these changes.
I have been posting similar queries (step-by-step guidance) for using OneDrive in UWP app since la

[2017-11-30 09:38] m4ss1m0g opened #239 "Upload large file raise Unsupported segment type"
I used the code for [Chunked Upload](https://github.com/OneDrive/onedrive-sdk-csharp/blob/master/docs/chunked-uploads.md) but with no luck,

I've tried:

[code]

Also I tried

[code]

But every time I got and Error

The "classic" upload work correctly.

I use Bearer Token with custom **IAuthenticationProvider** where the token came from App auth with delegate permissions

[2017-12-08 04:56] Fozzy0007 commented on #133
Is there a plan to move this fix to the 2.0 version of the SDK?

[2017-12-11 09:40] hupo376787 opened #241 "Remove sample projects from this repo ———— 2 years ago???"
Why do you remove sample projects from this repo? As [#238](https://github.com/OneDrive/onedrive-sdk-csharp/issues/238) said, we couldn't find a latest sample project using the new api. At the same time, the older version api is not suggested to us by MS...

We want a sample project!

So anybody know why?

[2017-12-28 09:13] Mogikan commented on #159
For those like me replace OneDriveClientExtensions.GetClientUsingOnlineIdAuthenticator(Scopes) with
var onlineIdProvider = new OnlineIdAuthenticationProvider(Scopes);
await onlineIdProvider.RestoreMostRecentFromCacheOrAuthenticateUserAsync();
var client = new OneDriveClient("https://api.onedrive.com/v1.0", onlineIdProvider);
Not sure what is the problem not to break backward compatibility.

[2018-01-31 13:51] oatsoda commented on #239
It looks like this only affects OneDrive for Business - it works fine for Consumer OneDrive.

[2018-02-23 15:20] zipswich opened #242 "Warning NU1608 Detected package version outside of dependency constraint:"
I get the following warning when building a UWP app:

I am wondering if it is relevant here. It is not a big deal because the app appears to run fine. However, it has mysterious crashes occasionally. I am examining all possible factors now.

[2018-04-10 08:11] Kid-Seven-7 opened #243 "Exception User-Unhandled"
I'm trying to create a OneDrive Web Application and so far I can display the files and folders in the drive but I have been having trouble with downloading and uploading files. After finding this page on the internet I tried to use the code but got an error that is beyond my understanding (not sure if this is the right place but...).

System.Threading.ThreadStateException
  HResult=0x80131520
  Me

[2018-04-10 12:52] dominsights commented on #243
Are you using asp.mvc or is it a console application? Did you register your
application and set the app id? It's complaining about multithreading, have
you tried creating a simple application to reproduce the problem? I'm on my
phone now, I'll check later.

On Tue, Apr 10, 2018, 5:11 AM Joseph L. Ngoma <notifications@github.com>
wrote:

[2018-04-10 13:03] Kid-Seven-7 commented on #243
I am working on a web application, I did register the app and set the app
id, I have not reproduced the problem.

I'm a noob so I'm not real sure what's wrong, if you would like for me to
send you additional information please let me know

On Tue, Apr 10, 2018 at 2:53 PM, Domício Medeiros <notifications@github.com>
wrote:

--
Yours truly
Joseph L. Ngoma

[2018-04-10 19:31] dominsights commented on #243
Check this one:

https://stackoverflow.com/a/1418471/6490459

It looks like you'll need to create a separated thread to run your code.

On Tue, Apr 10, 2018 at 10:03 AM, Joseph L. Ngoma <notifications@github.com>
wrote:

[2018-04-11 09:37] Kid-Seven-7 commented on #243
@domicioam Thanks so much for all your help, the stackoverflow link really helped, still having a few minor issues with MsaAuthenticationProvider.AuthenticateUserAsync() but hopefully that will not be too much of an issue.
Thanks again 👍

[2018-04-11 09:37] #243 closed, assigned to nobody

[2018-04-13 21:42] lockelost commented on #164
I am having the same situation... every setting is same with other tenant and Azure App I have but it's throwing 403

[2018-05-09 21:47] olumide-oyetoke commented on #159
@cdmayer it seems ver 2.x is still lacking in functionality since 2016.
Please when will it be ported?

[2018-05-17 09:10] usane opened #244 "Authentication Problem / Failed"
Hi,

I am trying to develop console application which automatically uploads files to share our customers.
However, I run into following two issues.

One is that OneDrive API requires browser user interaction for authentication. Although I passed to application id and password, getting from Application Registration Portal, when authentication request.

Following is request uri I passed.
(https://lo

[2018-06-22 18:38] queequac opened #245 "Warning NU1602"
`NU1602: Microsoft.OneDriveSDK.Authentication 1.0.10 does not provide an inclusive lower bound for dependency Microsoft.IdentityModel.Clients.ActiveDirectory (> 2.22.0 && < 3.0.0). An approximate best match of Microsoft.IdentityModel.Clients.ActiveDirectory 2.22.302111727 was resolved.
`

This is not a big issue, but would be great if you could correct the lower bounds - the current version of the

[2018-09-24 11:52] oatsoda commented on #233
Also have this problem. Actively stopping me from upgrading other dependencies in my project.

It seems like this OneDrive SDK isn't being maintained any more. Is this still the recommended client?

[2018-09-24 11:54] oatsoda commented on #233
I guess this is the answer...

https://github.com/OneDrive/onedrive-sdk-csharp/issues/224#issuecomment-288259165

[2018-11-01 17:01] RexfelisLOC opened #246 "UWP XBox One Can't Interact with Sign In UI"
Using the following code to sign in which works fine in an UWP app on Desktop, but on Xbox One, the cursor disappears and there is no way to interact with the Yes button to grant permissions.  Is there something else I need to do?

`var scopes = new[] { "wl.emails","wl.signin"};
_oneDriveClient = new OnlineIdAuthenticationProvider(scopes);

await _oneDriveClient.AuthenticateUserAsync();`

[2018-11-16 21:54] miroppb opened #248 "Not able to upload files to my OneDrive"
Started happening a few weeks ago, but I didn't think much of it. Finally deciding to figure out why it's failing, but can't find any updated information.

I sign into my OneDrive with
[code]
No problem.

I'm able to pull an ID of the folder to which I'm trying to upload to with this, then going through the items until I find the right one

`var item = await oneDriveClient.Drive.Root.Children.Requ

[2018-11-28 14:50] flaviosuardi commented on #200
@MannusEtten did you find a way to access files offline (after online authetication)?

[2018-12-08 09:52] deRightDirection commented on #200
no i did not, i gave up on the OneDrive stuff as much as possible, i switched to DropBox, better support for developers, better documentation and more stable API

[2019-01-10 11:26] flaviosuardi commented on #10
hi @ginach,
as @boyinghu  ask, could you please specify property or method to override timeout on OneDriveClient?
Thanks.

[2019-01-24 19:05] ginach commented on #10
@flaviosuardi, the change was to add a OverallTimeout property on HttpProvider to allow changing the default timeout on the enclosed HttpClient.

[2019-01-25 13:34] flaviosuardi commented on #10
@ginach thanks a lot!

[2019-02-21 23:00] kevitra opened #249 "ItemWithPath"
Is there a way via ItemWithPath or another method to obtain a file when I have a URL such as:

https://tenant-my.sharepoint.com/personal/bob_smith_tenant_onmicrosoft_com/Documents/Microsoft Teams Chat Files/file.csv

Or is there a known way to get an item Id from the URL?  I have not been able to find that in the Graph documentation.

Thank You

[2019-02-26 17:15] #249 closed, assigned to nobody

[2019-06-02 16:01] VladimirAkopyan opened #250 "Project Abandoned?"
This project appears abandoned. What is the recommended package to use now to access onedrive from DotNet?

[2019-07-30 09:50] yChakradhar opened #251 "How to get refresh token using the GraphServiceClient uaing code flow"
We have a WPF application in production and want to consume the onedrive API from the application. Now we are using the C# graph SDK tp connect with onedrive and we are able to upload and download files with token-based authentication which is expiring in one hour. But we want to implement code-based authentication to get a refresh token so that when the access token expires we will get the token

[2019-08-26 02:20] Mogikan commented on #250
I also have this question. It is not compatible with latest Microsoft.Graph.Core. Migration to .net standard from Profile111 is also necessary.

[2019-08-26 02:23] Mogikan commented on #250
Had to remove the following code from Request classes in order to compile it against latest graph.core. this.SdkVersionHeaderPrefix = "onedrive"; They removed this property from BaseRequest class and it's no longer available. This property is added to request header and used for Telemetry, so it's safe to remove it.

[2020-03-02 14:46] marcnet80 opened #252 "Request() method throws exception"
The code samples didn't work, after packages updates (_Newtonsoft.Json_ to 12.0.0.0 and _Microsoft.Graph.Core_ to 1.18.0.0):

[code]
Microsoft.OneDriveSDK Version : 2.0.7
Exception message:
<pre>
Method not found: 'Void Microsoft.Graph.BaseRequest.set_SdkVersionHeaderPrefix(System.String)'.
</pre>

[2020-06-05 21:21] ForerunnerG34 opened #253 "System.MissingMethodException set_SdkVersionHeaderPrefix"
I'm using **Microsoft.Identity** to sign in into MS Graph and obtain an object of **IPublicClientApplication**.  Scopes: "**Files.ReadWrite.AppFolder**", "Files.Read.All"

Then I'm trying to read any folder from OneDrive, for example the AppFolder:

 **IntegratedWindowsAuthenticationProvider authenticationProvider = new IntegratedWindowsAuthenticationProvider(PublicClientApp, scopes);

[2020-07-21 11:52] #239 closed, assigned to nobody

[2020-08-04 09:10] Thomi7 commented on #253
Same for me

[2020-11-12 19:17] bbhxwl opened #254 "How to use net core to call onedrive?"
How to use net core to call onedrive?

[2020-11-19 10:22] yosefbernal opened #255 "How to log in with account other than default?"
I have followed your introduction and managed to successfully authenticate, read, and write files in my personal account. The problem is I don't see a way to log in with a different account. The dialog assumes I want to use my default Windows account whereas I'd like to use my work account. You might say: "well .. just log in with your work account!". Well, that would be a problem since, as you kn

[2021-02-15 11:35] YuraGoots commented on #253
I've got the same error when trying to up version of Microsoft.Graph and Microsoft.Graph.Core libraries.
It looks like Microsoft.OneDriveSDK works only with Microsoft.Graph/Microsoft.Graph.Core 1.12.0.

[2021-02-15 12:10] YuraGoots commented on #253
I've investigated why this happened.
That's because new implementation of Microsoft.Graph.BaseRequest does not contain this property:

        // Summary:
        //     Gets or sets the telemetry header prefix for requests.
        protected string SdkVersionHeaderPrefix
        {
            get;
            set;
        }

And in Microsoft.OneDrive.Sdk.ItemRequest ctor we can see this code:

`

[2021-04-12 02:25] #241 closed, assigned to nobody

[2021-08-11 04:11] Mogikan commented on #254
Since this repo is dead I maintain this project a bit. In case someone need .net standard support (.net core, xamarin and .net 5): https://github.com/Mogikan/onedrive-sdk-csharp
I maintain it since I need it in to use in my project.

[2021-08-11 04:18] Mogikan commented on #250
Finally decided to publish my changes (.net standard 2.0, can be used in .net core, works with latest graph.core) in case someone need it: https://github.com/Mogikan/onedrive-sdk-csharp

[2021-12-26 04:02] #248 closed, assigned to nobody